@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Qanelas-Thin";
  src: url("./fonts/qanelas/QanelasThin.woff");
}

@font-face {
  font-family: "Qanelas-Ultra-Light";
  src: url("./fonts/qanelas/QanelasUltraLight.woff");
}

@font-face {
  font-family: "Qanelas-Light";
  src: url("./fonts/qanelas/QanelasLight.woff");
}

@font-face {
  font-family: "Qanelas-Regular";
  src: url("./fonts/qanelas/QanelasRegular.woff");
}

@font-face {
  font-family: "Qanelas-Medium";
  src: url("./fonts/qanelas/QanelasMedium.woff");
}

@font-face {
  font-family: "Qanelas-Semi-Bold";
  src: url("./fonts/qanelas/QanelasSemiBold.woff");
}

@font-face {
  font-family: "Qanelas-Bold";
  src: url("./fonts/qanelas/QanelasBold.woff");
}

@font-face {
  font-family: "Qanelas-Extra-Bold";
  src: url("./fonts/qanelas/QanelasExtraBold.woff");
}

@font-face {
  font-family: "Qanelas-Black";
  src: url("./fonts/qanelas/QanelasBlack.woff");
}

@font-face {
  font-family: "Qanelas-Heavy";
  src: url("./fonts/qanelas/QanelasHeavy.woff");
}

* {
  font-family: "Qanelas-Regular";
}
