@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Qanelas-Regular";
  src: url("./fonts/qanelas/QanelasRegular.woff");
}

@font-face {
  font-family: "Qanelas-Medium";
  src: url("./fonts/qanelas/QanelasMedium.woff");
}

@font-face {
  font-family: "Qanelas-Semi-Bold";
  src: url("./fonts/qanelas/QanelasSemiBold.woff");
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
